  deploy:
    runs-on: ubuntu-latest
    needs: build
    
    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: python-app
      
      - name: Azure Login
        uses: azure/login@v1
        with:
          publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE_9E3613021A3F49AE9568AC1076472D64 }}

      - name: 'Deploy to Azure Web App'
        uses: azure/webapps-deploy@v3
        id: deploy-to-webapp
        with:
          app-name: 'stronainternetowa2'
          slot-name: 'Production'
          publish-profile: ${{ secrets.AZUREAPPSSERVICE_PUBLISHPROFILE_9E3613021A3F49AE9568AC1076472D64 }}

